---
import MainLayout from "../layouts/MainLayout.astro";
import CloudinaryImage from "../components/CloudinaryImage.astro";

const manznarMonument = {
  title: "Manzanar Relocation Camp, Monument",
  media: "Panoramic photo collage with Fuji Crystal Archive prints",
  year: 1995,
  city: "Inyo County",
  state: "California",
  country: "USA",
  size: "20in. x 40in.",
  inventory: "n/a",
  cloudinaryId: "Manzanar_Relocation_Camp_Monument_so2g5c.jpg",
};

// Using the JSON object `manznarMonument` to pass data to CloudinaryImage component
<MainLayout>
  <div class="flex flex-col items-center justify-center font-montserrat">
    <CloudinaryImage
      cloudinaryId={manznarMonument.cloudinaryId}
      title={manznarMonument.title}
      year={manznarMonument.year}
      city={manznarMonument.city}
      state={manznarMonument.state}
      country={manznarMonument.country}
      size={manznarMonument.size}
    />
  </div>
</MainLayout>;
---
